@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

/* Part 1: General settings */
:root{
    --icon-color: #3dac9f;
    --black-suave-color:rgba(0,0,0,0.192);
    --black-gray-color: #000000be;
    --font: 'Source Sans 3';
}

body,p#set,div{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: var(--font);
    color: var(--black-gray-color);
}

p{
    font-weight: bold;
}

body{
    background: white;
}

/* Part 2: Header and footer settings */
header{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 3px var(--black-suave-color);    
}

nav.about> a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 1rem;
    color: var(--black-gray-color);
}

.ml-auto{
    margin-left: auto;
    text-align: center;
}

img{
    display: block;
    margin-right: 20px;
    margin-left: 10px;
}

p#set{
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 1.5rem;
    margin-left: 0px;
    margin-right: 20px;
}

footer{
    background-color: var(--icon-color);
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:var(--black-gray-color);
    text-align: center;
    font: normal 10pt Arial, Helvetica, sans-serif;
}

/* Part 4: Content settings */
.grid1{
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    grid-gap: 20px;
}

div#user-menu, div#model, div#help-menu{
    background: white;
    width: 100%;
    height: 600px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 2px 3px var(--black-suave-color);
}

p#title{
    font-size: 1.35rem;
}

p#lbc{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.results{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 2px 3px var(--black-suave-color);
    margin: 20px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

p#results{
    margin-top: 60px;
}

@media (max-width: 600px){
    .grid1{
        display: grid;
        grid-template-columns: 1fr;
    }
    #myCanvas{
        display: flex;
        image-rendering: pixelated;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 15px;
        width: 100%;
    }
}

input{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-width: 1px;
}

div#inputs{
    display: block;
    text-align: center;
}

.container_input{
    display: flex;
    justify-content: center;
}

.container_buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

input#bt{
    width: 100%;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: var(--icon-color);
    font-size: 1rem;
    /* font-family: var(--font); */
    font-family: 'Arial';
    font-weight: 400;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

input#bt:hover{
    background: #3dac9f79;
}

input#bt:active{
    background: var(--icon-color);
    top: 2px;
}

#button{
    text-align: center;
}

div#user-menu>p{
    margin: 10px;
}

div#model>p{
    margin: 10px;
}
div#help-menu>p{
    margin: 10px;
}

.loads{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

button{
    background-color: var(--icon-color);
    border-radius: 10px;
    border-width: 1px;
}

button > img{
    align-items: center;
    margin: 0 auto;
    padding-top: 5px;
}

button:hover{
    background: #3dac9f79;
}

button:active{
    background: var(--icon-color);
    top: 2px;
}

div#load-settings{
    margin: 0px 20px 0px 20px;
}

div#load-settings>p{
    text-align: center;
    font-size: 1rem;
}

.boundary{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

div#boundary-settings>p{
    text-align: center;
    font-size: 1rem;
}

/* Part 4: Manage canvas */

canvas{
    display: flex;
    image-rendering: pixelated;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 15px;
}
