@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

:root{
    --icon-color: #3dac9f;
}

body,p#set,div{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'Source Sans 3';
    color: black;
}

a{
    text-decoration: none;
    display: block;
    padding-right: 20px;
}

body{
    background: white;
}

header{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: white;
}

img{
    display: block;
    margin-right: 20px;
}

p#set{
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 30px;
    margin-left: 0px;
    margin-right: 20px;
}

footer{
    background-color: var(--icon-color);
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
    font: normal 10pt Arial, Helvetica, sans-serif;
}

