@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

:root{
    --icon-color: hsl(173, 48%, 46%);
    --black-suave-color:rgba(0,0,0,0.192);
    --black-gray-color: #000000be;
}

body,p#set,div{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'Source Sans 3';
    color: var(--black-gray-color);
}

body{
    background: white;
}

header{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    background-color: white;
    /* box-shadow: 0.5px 0.5px 0.5px 0px var(--black-suave-color); */
    box-shadow: 0px 2px 3px var(--black-suave-color);    
}

nav.home> a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 1rem;
    color: var(--black-gray-color);
}

.ml-auto{
    margin-left: auto;
    text-align: center;
}

img#set{
    display: block;
    margin-right: 20px;
    margin-left: 10px;
}


p#set{
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 1.5rem;
    margin-left: 0px;
    margin-right: 20px;
}

ul{
    text-decoration: none;
}

body{
    /* background-image: url(contact-background.png); */
    /* background-image: url(pexels-ronald-hayward-1702140.jpg); */
    background-position: 0 1000px;
    background-color: white;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: var(--icon-color);
    font-size: 3rem;
    margin: 15px 0px 0px 0px;
}

h2{
    font-size: 2rem;
    margin: 0px 0px 10px;
}

p{
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}

p#links{
    display: inline-block;
}

.flex{
    display: flex;
    justify-content: center;
}

.flex > p{
    margin: 10px 20px 10px 20px;
}


footer{
    background-color: var(--icon-color);
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    color:var(--black-gray-color);
    text-align: center;
    font: normal 10pt Arial, Helvetica, sans-serif;
}

